<% comments.each do |comment| %>
  <% if comment.user == book.user %>
    <div class="media">
      <%if current_user == comment.user %>
        <div class="media-body">
          <div class="seller-comment">
            <h6 class="media-heading" id="top-aligned-media">
              あなた
              <a class="anchorjs-link">
                <span class="anchorjs-icon"></span>
              </a>
            </h6>
            <div class="comment my-seller-comment-body">
              <%= comment.text %>
              <p><i class="fa fa-clock-o"></i><%= time_ago_in_words(comment.created_at) %></p>
            </div>
          </div>
        </div>
      <% else %>
        <div class="media-body">
          <div class="seller-comment">
            <h6 class="media-heading" id="top-aligned-media">
              <%= comment.user.username %>さん(出品者)
              <a class="anchorjs-link">
                <span class="anchorjs-icon"></span>
              </a>
            </h6>
            <div class="comment seller-comment-body">
              <%= comment.text %>
              <p><i class="fa fa-clock-o"></i><%= time_ago_in_words(comment.created_at) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="media">
      <% if current_user == comment.user %>
        <div class="media-body">
          <h6 class="media-heading" id="top-aligned-media">
            あなた
            <a class="anchorjs-link">
              <span class="anchorjs-icon"></span>
            </a>
          </h6>
          <div class="comment my-comment-body">
            <%= comment.text %>
            <p><i class="fa fa-clock-o"></i><%= time_ago_in_words(comment.created_at) %></p>
          </div>
        </div>
      <% else %>
        <div class="media-body">
          <h6 class="media-heading" id="top-aligned-media">
            <%= comment.user.username %>さん
            <a class="anchorjs-link">
              <span class="anchorjs-icon"></span>
            </a>
          </h6>
          <div class="comment other-comment-body">
            <%= comment.text %>
            <p><i class="fa fa-clock-o"></i><%= time_ago_in_words(comment.created_at) %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
