
<div class="clear"></div>
<!-- start Main Wrapper -->
<div class="main-wrapper scrollspy-container">
  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>
  <!-- start end Page title -->
  <div class="page-title" style="background-image:url('/images/my_room.jpeg');">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
          <h2 class="text-white"><%= @user.username %></h2>
          <div class="user-thumbnail mb-10" style="background-image:url('#{@user.avatar}');">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcrumb-wrapper bg-light-2">
    <div class="container">
      <ol class="breadcrumb-list booking-step">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "マイページ",user_path(current_user) %></li>
        <li><span>ユーザー登録編集</span></li>
      </ol>
    </div>
  </div>
  <!-- end Page title -->
  <div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-8">
          <%= form_for(@address) do |f| %>
            <div class="payment-box">
              <div class="payment-header clearfix">
                <h5 class="heading mt-0">購入者情報</h5>
              </div>
              <div class="payment-content">
                <div class="payment-traveller mb-0">
                  <div class="form-horizontal">
                    <div class="form-group gap-20">
                      <label class="col-sm-4 col-md-4 control-label">姓:</label>
                      <div class="col-sm-8 col-md-6">
                        <%= f.text_field :last_name, class:"form-control", required: true %>
                      </div>
                    </div>
                  </div>
                  <div class="form-horizontal">
                    <div class="form-group gap-20">
                      <label class="col-sm-4 col-md-4 control-label">名:</label>
                      <div class="col-sm-8 col-md-6">
                        <%= f.text_field :first_name, class:"form-control", required: true %>
                      </div>
                    </div>
                  </div>
                  <div class="form-horizontal">
                    <div class="form-group gap-20">
                      <label class="col-sm-4 col-md-4 control-label">郵便番号:</label>
                      <div class="col-sm-8 col-md-6">
                        <%= f.text_field :postal_code, class:"form-control", required: true %>
                      </div>
                    </div>
                  </div>
                  <div class="form-horizontal">
                    <div class="form-group gap-20">
                      <label class="col-sm-4 col-md-4 control-label">住所:</label>
                      <div class="col-sm-8 col-md-6">
                        <%= f.text_field :street_address, class:"form-control", required: true %>
                      </div>
                    </div>
                  </div>
                  <div class="form-horizontal">
                    <div class="form-group gap-20">
                      <label class="col-sm-4 col-md-4 control-label">電話番号:</label>
                      <div class="col-sm-8 col-md-6">
                        <%= f.text_field :phone_number, class:"form-control", required: true %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <%= f.submit "購入者情報を更新", class:"btn btn-primary btn-sm btn-inverse" %>
                </div>
              </div>
            </div>
          <% end %>
          <%= form_for(@bank) do |f| %>
            <div class="payment-box">
              <div class="payment-header clearfix">
                <h5 class="heading mt-0">売上金受け取り口座情報</h5>
              </div>
              <div class="payment-content">
                <div class="payment-traveller mb-0">
                  <div class="form-horizontal">
                    <div class="form-group gap-20">
                      <label class="col-sm-4 col-md-4 control-label">銀行名:</label>
                      <div class="col-sm-8 col-md-6">
                        <%= f.text_field :bank_name, class:"form-control", placeholder:"テック銀行", required: true %>
                      </div>
                    </div>
                  </div>
                  <div class="form-horizontal">
                    <div class="form-group gap-20">
                      <label class="col-sm-4 col-md-4 control-label">支店名:</label>
                      <div class="col-sm-8 col-md-6">
                        <%= f.text_field :branch_name, class:"form-control", placeholder:"テック支店", required: true %>
                      </div>
                    </div>
                  </div>
                  <div class="form-horizontal">
                    <div class="form-group gap-20">
                      <label class="col-sm-4 col-md-4 control-label">口座種別:</label>
                      <div class="col-sm-8 col-md-6">
                        <%= f.select :account_type, options_for_select(["普通", "当座", "貯蓄"]), class:"select select2-multi form-control" %>
                      </div>
                    </div>
                  </div>
                  <div class="form-horizontal">
                    <div class="form-group gap-20">
                      <label class="col-sm-4 col-md-4 control-label">口座番号:</label>
                      <div class="col-sm-8 col-md-6">
                        <%= f.text_field :number, class:"form-control", placeholder:"0123456", required: true, pattern:"[0-9]{7}", title:"半角数字7文字" %>
                      </div>
                    </div>
                  </div>
                  <div class="form-horizontal">
                    <div class="form-group gap-20">
                      <label class="col-sm-4 col-md-4 control-label">口座名義(カナ(半角スペース)カナ):</label>
                      <div class="col-sm-8 col-md-6">
                        <%= f.text_field :holder_name, class:"form-control", placeholder:"テック(半角スペース)タロウ", required: true, pattern:"^[ァ-ン| | ]+$", title:"全角カタカナ" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <%= f.submit "受け取り口座情報を更新", class:"btn btn-primary btn-sm btn-inverse" %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="payment-box">
            <div class="payment-header clearfix">
              <h5 class="heading mt-0">登録情報</h5>
            </div>
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|%>
              <div class="payment-content">
                <div class="payment-traveller mb-0">
                  <div class="form-horizontal">
                    <div class="form-group gap-20">
                      <label class="col-sm-4 col-md-4 control-label">ニックネーム:</label>
                      <div class="col-sm-8 col-md-6">
                        <%= f.text_field :username, class:"form-control", value:"#{@user.username}" %>
                      </div>
                    </div>
                  </div>
                  <div class="form-horizontal">
                    <div class="form-group gap-20">
                      <label class="col-sm-4 col-md-4 control-label">メールアドレス:</label>
                      <div class="col-sm-8 col-md-6">
                        <%= f.email_field :email, class:"form-control", value:"#{@user.email}" %>
                      </div>
                    </div>
                  </div>
                  <div class="form-horizontal">
                    <div class="form-group gap-20">
                      <label class="col-sm-4 col-md-4 control-label">現在のパスワード:</label>
                      <div class="col-sm-8 col-md-6">
                        <%= f.password_field :current_password, class:"form-control", placeholder: "必ず入力してください" %>
                      </div>
                    </div>
                  </div>
                  <div class="form-horizontal">
                    <div class="form-group gap-20">
                      <label class="col-sm-4 col-md-4 control-label">新しいパスワード:</label>
                      <div class="col-sm-8 col-md-6">
                        <%= f.password_field :password,:autocomplete => "off", class:"form-control", placeholder: "パスワードを変更しない場合は記入しないでください",autocomplete: "off" %>
                      </div>
                    </div>
                  </div>
                  <div class="form-horizontal">
                    <div class="form-group gap-20">
                      <label class="col-sm-4 col-md-4 control-label">新しいパスワード確認:</label>
                      <div class="col-sm-8 col-md-6">
                        <%= f.password_field :password_confirmation, class:"form-control", placeholder: "パスワードを変更しない場合は記入しないでください",autocomplete: "off" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <%= f.submit "登録情報を更新", class:"btn btn-primary btn-sm btn-inverse" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 mt-50-xs">
          <aside class="sidebar">
            <div class="sidebar-inner no-border for-blog">
              <div class="clear"></div>
              <div class="sidebar-module">
                <h4 class="sidebar-title">購入履歴</h4>
                <div class="sidebar-module-inner">
                  <ul class="sidebar-post">
                    <% @books.each do |book|  %>
                      <li class="clearfix">
                        <a href="blog-single.html">
                          <div class="image">
                            <%= link_to image_tag("#{book.image}", alt:'Popular Post'), book_path(book) %>
                          </div>
                          <div class="content">
                            <h6><%= book.title %></h6>
                            <p class="recent-post-sm-meta"><i class="fa fa-clock-o mr-5"></i>
                              <%= book.order.created_at.strftime("%b %d, %Y")%>
                            </p>
                          </div>
                        </a>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <%= paginate @books %>
              <div class="clear"></div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end Main Wrapper -->
<!-- start Back To Top -->
<div id="back-to-top">
   <a href="#"><i class="fa fa-angle-up"></i></a>
</div>
