
<div class="clear"></div>
<!-- start Main Wrapper -->
<div class="main-wrapper">
  <%= render partial:"layouts/flash" %>
  <div class="breadcrumb-wrapper bg-light-2">
    <div class="container">
      <ol class="breadcrumb-list booking-step">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "詳細ページ", book_path(@book) %></li>
        <li><span>購入手続き</span></li>
      </ol>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-9" role="main">
          <div class="section-title text-left clearfix">
            <div class="title-left">
              <%= image_tag @book.image, class:"sell_book" %>
            </div>
            <div class="title-right">
              <h3><%= @book.title %></h3>
              <small>を購入します。</small>
            </div>
          </div>
          <div class="payment-container">
            <div class="payment-box">
              <div class="payment-header clearfix">
                <div class="number">
                  !
                </div>
                <h5 class="heading mt-1">お届け先詳細
                  <%= link_to "住所の初期設定をする", edit_user_path(current_user), class:"btn-primary btn-sm btn-inverse btn-address" %>
                </h5>
                <p><spna class="necessary-info">*必須情報</spna></p>
              </div>
              <%= form_for(@order, url: book_orders_path(book_id: @book.id)) do |f| %>
                <div class="payment-content">
                  <div class="payment-traveller">
                    <div class="row gap-0">
                    </div>
                    <div class="form-horizontal">
                      <div class="form-group gap-20">
                        <label class="col-sm-4 col-md-4 control-label"><spna class="necessary-info">*</spna>姓:</label>
                        <div class="col-sm-6 col-md-6">
                          <%= text_field_tag "order_detail[last_name]", "#{@address.last_name}", class:"form-control", required: true %>
                        </div>
                      </div>
                    </div>
                    <div class="form-horizontal">
                      <div class="form-group gap-20">
                        <label class="col-sm-4 col-md-4 control-label"><spna class="necessary-info">*</spna>名:</label>
                        <div class="col-sm-6 col-md-6">
                          <%= text_field_tag "order_detail[first_name]", "#{@address.first_name}", class:"form-control", required: true %>
                        </div>
                      </div>
                    </div>
                    <div class="form-horizontal">
                      <div class="form-group gap-20">
                        <label class="col-sm-4 col-md-4 control-label"><spna class="necessary-info">*</spna>メールアドレス:</label>
                        <div class="col-sm-6 col-md-6">
                          <%= text_field_tag "order_detail[email]", "#{current_user.email}", class:"form-control", required: true %>
                        </div>
                      </div>
                    </div>
                    <div class="form-horizontal">
                      <div class="form-group gap-20">
                        <label class="col-sm-4 col-md-4 control-label">電話番号:</label>
                        <div class="col-sm-6 col-md-6">
                          <%= text_field_tag "order_detail[phone_number]", "#{@address.phone_number}", class:"form-control", required: true %>
                        </div>
                      </div>
                    </div>
                    <div class="form-horizontal">
                      <div class="form-group gap-20">
                        <label class="col-sm-4 col-md-4 control-label"><spna class="necessary-info">*</spna>郵便番号:</label>
                        <div class="col-sm-6 col-md-6">
                          <%= text_field_tag "order_detail[postal_code]", "#{@address.postal_code}", class:"form-control", required: true, name:"order_detail[postal_code]", onKeyUp: "AjaxZip3.zip2addr(this,'','order_detail[street_address]','order_detail[street_address]');" %>
                        </div>
                      </div>
                    </div>
                    <div class="form-horizontal">
                      <div class="form-group gap-20">
                        <label class="col-sm-4 col-md-4 control-label"><spna class="necessary-info">*</spna>住所:</label>
                        <div class="col-sm-6 col-md-6">
                          <%= text_field_tag "order_detail[street_address]", "#{@address.street_address}", class:"form-control", required: true, name:"order_detail[street_address]"  %>
                        </div>
                      </div>
                    </div>
                    <div class="form-horizontal">
                      <div class="form-group gap-20">
                        <label class="col-sm-4 col-md-4 control-label"><spna class="necessary-info">*</spna>支払い方法:</label>
                        <div class="col-sm-6 col-md-6">
                          <%= f.select :payment_method, options_for_select(["銀行振り込み", "クレジットカード"]), {},{ class: "form-control payment" } %>
                        </div>
                      </div>
                    </div>
                    <div class="center hide">
                      <script src="https://checkout.webpay.jp/v1/" data-submit-text="カード決済で確定する" class="webpay-button" data-key=ENV['ACCESS_KEY_ID'] data-partial="true"></script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="checkbox-block">
              <input id="accept_booking" name="accept_booking" type="checkbox" class="checkbox" value="paymentsCreditCard"/>
              <label class="" for="accept_booking"><a href="#">利用規約</a>及び<a href="#">プライバシーポリシー</a>に同意します。</label>
            </div>
            <div class="row mt-20 clearfix">
              <div class="col-sm-12 col-md-12">
                <%= f.submit "注文を確定する", class:"btn", id:"submit" %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="col-sm-4 col-md-3 hidden-xs">
          <div class="price-summary-wrapper">
            <h4 class="heading mt-0 text-primary uppercase">注文内容</h4>
            <ul class="price-summary-list">
              <li>
                <h6 class="heading mt-0 mb-0"><%= @book.title %></h6>
                <p class="font12 text-light">デザイン</p>
              </li>
              <li class="divider"></li>
              <li>
                <h6 class="heading mt-20 mb-5 text-primary uppercase">価格内訳</h6>
                <div class="row gap-10 mt-10">
                  <div class="col-xs-7 col-sm-7">
                    本体価格
                  </div>
                  <div class="col-xs-5 col-sm-5 text-right">
                    <%= @book.price %>円
                  </div>
                </div>
                <div class="row gap-10 mt-10">
                  <div class="col-xs-7 col-sm-7">
                    送料
                  </div>
                  <div class="col-xs-5 col-sm-5 text-right">
                    <%= @book.postage %>円
                  </div>
                </div>
                <div class="row gap-10 mt-10">
                  <div class="col-xs-7 col-sm-7">
                    消費税
                  </div>
                  <div class="col-xs-5 col-sm-5 text-right">
                    <%= @book.price_tax(@book) %>円
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li class="text-right font600 font14">
                <%= @book.all_total_price(@book) %>円
              </li>
              <li class="divider"></li>
              <li>
                <div class="row gap-10 font600 font14">
                  <div class="col-xs-9 col-sm-9">
                    購入点数
                  </div>
                  <div class="col-xs-3 col-sm-3 text-right">
                    1
                  </div>
                </div>
              </li>
              <li class="total-price">
                <div class="row gap-10">
                  <div class="col-xs-6 col-sm-6">
                    <h5 class="heading mt-0 mb-0 text-white">Amount due</h5>
                    <p class="font12">合計金額</p>
                  </div>
                  <div class="col-xs-6 col-sm-6 text-right">
                    <span class="block font20 font600 mb-5"><%= @book.all_total_price(@book) %>円</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end Main Wrapper -->