<div class="GridLex-col-3_sm-4_xs-12 mb-30">
  <div class="package-grid-item">
    <a href="detail-page.html">
      <div class="image">
        <%= link_to image_tag("#{book.image}"), book_path(book.id) %>
        <div class="absolute-in-image">
          <% if book.order.present? %>
            <%= image_tag "/assets/sold.png", class:"soldout" %>
          <% end %>
          <div class="duration">
            <span><%= book.category %></span>
          </div>
        </div>
      </div>
      <div class="content clearfix">
        <h5><%= book.title %></h5>
<!--         <div class="rating-wrapper">
          <div class="raty-wrapper">
            <div class="star-rating-read-only" data-rating-score="4.0"></div> <span> / 7 review</span>
          </div>
        </div> -->
        <div class="absolute-in-content">
          <% if book.likes_count != 0 %>
            <span class="btn likes_count"><i class="fa fa-heart-o" style="color: red"></i>
              <%= book.likes_count %>
            </span>
          <% else %>
            <span class="btn likes_count"><i class="fa fa-heart-o" style="color: white"></i></span>
          <% end %>
          <div class="price"><%= book.total_price(book) %>円</div>
        </div>
      </div>
    </a>
  </div>
</div>