<div class="col-md-6 col-lg-4 pl-0 ml-0">
  <div class="package-list-item clearfix pl-15">
    <!-- <a href="#" class="package-list-item-link"> -->
    <%= link_to book_path(book), class:"package-list-item-link" do%>
      <div class="image">
        <%= image_tag book.image, alt:"Tour Package" %>
        <div class="absolute-in-image">
          <% if book.order.present? %>
            <%= image_tag "/assets/sold.png", class:"soldout" %>
          <% end %>
          <div class="duration"><span><%= book.category %></span></div>
        </div>
      </div>
      <div class="content">
        <div class="row gap-10">
          <div class="col-sm-12 col-md-12">
            <h5>
              <%= book.title %>
              <% if book.likes_count != 0 %>
                <span class="btn likes_count">
                  <i class="fa fa-heart-o" style="color: red"></i>
                  <%= book.likes_count %>
                </span>
              <% else %>
                <span class="btn likes_count"><i class="fa fa-heart-o" style="color: white"></i></span>
              <% end %>
            </h5>
          </div>
          <div class="col-sm-12 col-md-12 text-left-sm">
            <div class="price"><%= book.total_price(book) %>円</div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>