
  <div class="clear"></div>
  <!-- start Main Wrapper -->
  <div class="main-wrapper scrollspy-container">
    <!-- start end Page title -->
    <div class="page-title detail-page-title" style="background-image:url('/images/books_on_desk2.jpg');">
      <div class="container">
        <div class="flex-row">
          <div class="flex-column flex-md-8 flex-sm-12">
            <h1 class="hero-title"><%= @book.title %></h1>
          </div>
          <div class="flex-column flex-md-4 flex-align-bottom flex-sm-12 mt-20-sm">
            <div class="text-right text-left-sm">
                <%= link_to "トップページへ", root_path, class:"anchor btn btn-primary" %>
                <%= link_to "戻る", :back, class:"anchor btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end Page title -->
    <div class="content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-12   mb-50-xs">
            <div class="scrollspy-sidebar sidebar-detail" role="complementary">
              <!-- <img src="images/books/book1.png" alt=""> -->
              <%= image_tag("#{@book.image}", alt: "Logo") %>
            </div>
          </div>
          <div class="col-md-9 mt-30-xs" role="main">
            <div class="detail-content-wrapper">
                <div id="section-0" class="detail-content">
                  <div class="section-title text-left">
                    <h4>概要</h4>
                  </div>
                    <h5 class="heading"><%= @book.title %>
                      <span id="like_buttons">
                        <%= render partial:"likes/like", locals:{book: @book, like: @like}%>
                      </span>
                    </h5>
                    <h5 class="price mt-0">合計金額: <span><%= @book.total_price(@book) %>円</span></h5>
                </div>
                <div id="section-2" class="detail-content">
                  <div class="section-title text-left">
                    <h4>詳細</h4>
                  </div>
                  <div class="detail-item">
                    <div class="row">
                      <div class="col-sm-4 col-sm-3">
                        <ul class="list-info no-icon bb-dotted">
                          <li><span class="font600">出品者: </span>
                            <%= link_to "#{@book.user.username}さん", user_path(@book.user) %>
                          </li>
                          <li><span class="font600">本体価格:</span><%= @book.price %>円</li>
                          <li><span class="font600">送料:</span><%= @book.postage %>円</li>
                          <li><span class="font600">カテゴリ:</span><%= @book.category %></li>
                          <li><span class="font600">状態: </span><%= @book.state %></li>
                        </ul>
                      </div>
                      <div class="col-sm-8 col-md-9">
                        <div class="itinerary-wrapper">
                          <div class="itinerary-item">
                            <h5 class="mb-20">この本について</h5>
                            <div class="intro-item-body">
                              <p><%= @book.content %></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% if current_user %>
                      <% if current_user.id != @book.user_id %>
                        <% if @book.order.present? %>
                          <div class="text-center pt-10">
                            <div class="btn btn-primary btn-full-width">売り切れです</div>
                          </div>
                        <% else %>
                          <div class="text-center pt-10">
                            <%= link_to "購入ページへ", new_book_order_path(@book), class:"btn btn-primary btn-full-width" %>
                          </div>
                        <% end %>
                      <% else %>
                        <div class="text-center pt-10">
                          <%= link_to "編集する", edit_book_path(@book), class:"btn btn-primary btn-full-width" %>
                          <%= link_to "削除する", book_path(@book), method: :delete, class:"destroy-button-custom btn  btn-full-width" %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="detail-content">
                  <div class="section-title text-left">
                    <h4>関連する書籍</h4>
                  </div>
                  <div class="GridLex-gap-20-wrappper package-grid-item-wrapper on-page-result-page alt-smaller">
                    <div class="GridLex-grid-noGutter-equalHeight">
                      <% if @related_books %>
                        <% @related_books.each do |book| %>
                          <%= render partial:"books/related_book", locals:{book: book} %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="detail-content">
                  <div class="section-title text-left">
                    <% if @book.user == current_user %>
                      <h4>他ユーザーからのコメント</h4>
                    <% else %>
                      <h4>出品者へコメント</h4>
                    <% end %>
                  </div>
                  <div class="row proto-comments">
                    <div class="col-md-8">
                      <% if user_signed_in? %>
                        <%= form_for([@book,@comment],remote: true) do |f| %>
                          <p>※相手にとって不快なコメントは避けましょう。利用制限や退会処分となることがあります。</p>
                          <div class="row">
                            <div class="form-group col-md-10">
                              <%= f.text_area :text, class: "form-control", rows: "2", cols: "50", placeholder: "コメント" %>
                            </div>
                            <div class="form-group col-md-2">
                              <%= f.submit "送信", :class=>"button btn btn-primary" %>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                      <div id="comment_index">
                        <%= render partial:"comments/comment", locals:{comments: @comments, book: @book} %>
                      </div>
                      <%= paginate @comments %>
                    </div>
                  </div>
                </div>
                <div class="call-to-action">
                  <a href="#" class="btn btn-primary btn-sm btn-inverse">お問い合わせ</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end Main Wrapper -->
  <!-- start Back To Top -->
  <div id="back-to-top">
     <a href="#"><i class="fa fa-angle-up"></i></a>
  </div>
  <!-- end Back To Top -->
