<!DOCTYPE html>
<html>
<head>
  <title>TechBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <%= render "layouts/footer"%>
</body>
</html>
